USE [master]
GO
/****** Object:  Database [QLCuaHang]    Script Date: 25/05/2025 5:35:51 AM ******/
CREATE DATABASE [QLCuaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCuaHang', FILENAME = N'E:\Microsoft Sql Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLCuaHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCuaHang_log', FILENAME = N'E:\Microsoft Sql Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLCuaHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCuaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCuaHang]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 25/05/2025 5:35:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHDCT] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NULL,
	[MaMH] [varchar](20) NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25/05/2025 5:35:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](20) NOT NULL,
	[NgayLap] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 25/05/2025 5:35:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoai] [nvarchar](20) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatHang]    Script Date: 25/05/2025 5:35:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatHang](
	[MaMH] [varchar](20) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[DonGia] [int] NULL,
	[MaLoai] [nvarchar](20) NULL,
	[SoLuong] [int] NULL,
	[NgayHetHan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapHang]    Script Date: 25/05/2025 5:35:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapHang](
	[MaNH] [varchar](20) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[MaMH] [varchar](20) NULL,
	[SoLuong] [int] NOT NULL,
	[TenTK] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25/05/2025 5:35:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](20) NOT NULL,
	[TenTK] [nvarchar](50) NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[TenDN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHDCT], [MaHD], [MaMH], [SoLuong]) VALUES (N'01', N'HD01', N'MH01', 10)
INSERT [dbo].[ChiTietHoaDon] ([MaHDCT], [MaHD], [MaMH], [SoLuong]) VALUES (N'02', N'HD01', N'MH02', 10)
INSERT [dbo].[ChiTietHoaDon] ([MaHDCT], [MaHD], [MaMH], [SoLuong]) VALUES (N'03', N'HD01', N'MH01', 11)
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap]) VALUES (N'HD01', CAST(N'2025-05-16' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap]) VALUES (N'HD02', CAST(N'2025-05-20' AS Date))
GO
INSERT [dbo].[LoaiHang] ([MaLoai], [TenLoai]) VALUES (N'NC', N'Nước Ngọt')
INSERT [dbo].[LoaiHang] ([MaLoai], [TenLoai]) VALUES (N'TP', N'Thuc Pham')
GO
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [DonGia], [MaLoai], [SoLuong], [NgayHetHan]) VALUES (N'MH01', N'Rice', 160, N'TP', 150, CAST(N'2025-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [DonGia], [MaLoai], [SoLuong], [NgayHetHan]) VALUES (N'MH02', N'Egg', 160, N'TP', 50, CAST(N'2025-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [DonGia], [MaLoai], [SoLuong], [NgayHetHan]) VALUES (N'MH03', N'Rice', 160, N'NC', 110, CAST(N'2025-07-15T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NhapHang] ([MaNH], [NgayNhap], [MaMH], [SoLuong], [TenTK]) VALUES (N'NH01', CAST(N'2025-04-02' AS Date), N'MH01', 10, N'admin')
INSERT [dbo].[NhapHang] ([MaNH], [NgayNhap], [MaMH], [SoLuong], [TenTK]) VALUES (N'NH02', CAST(N'2025-04-10' AS Date), N'MH01', 10, N'admin')
INSERT [dbo].[NhapHang] ([MaNH], [NgayNhap], [MaMH], [SoLuong], [TenTK]) VALUES (N'NH03', CAST(N'2025-04-02' AS Date), N'MH01', 10, N'admin')
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [TenTK], [MatKhau], [TenDN]) VALUES (N'ad1', N'admin', N'admin', N'admin')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenTK], [MatKhau], [TenDN]) VALUES (N'nv1', N'nv01', N'1', N'Nguyễn Văn A')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_TenTK]    Script Date: 25/05/2025 5:35:51 AM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_TenTK] UNIQUE NONCLUSTERED 
(
	[TenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MatHang] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[NhapHang] ADD  DEFAULT (N'') FOR [TenTK]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_MatHang_MaMH] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MatHang] ([MaMH])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_MatHang_MaMH]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [FK_MatHang_LoaiHang] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiHang] ([MaLoai])
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [FK_MatHang_LoaiHang]
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MatHang] ([MaMH])
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_NhapHang_TaiKhoan_TenTK] FOREIGN KEY([TenTK])
REFERENCES [dbo].[TaiKhoan] ([TenTK])
GO
ALTER TABLE [dbo].[NhapHang] CHECK CONSTRAINT [FK_NhapHang_TaiKhoan_TenTK]
GO
USE [master]
GO
